@import "Basse/mixins";
@import "Basse/variables";
@import "Basse/animations";
@import "libs/animate.min";
@import "libs/bootstrap-reboot.min";
@import "libs/tiny-slider";
@import "libs/fonts-icons";
@import "libs/fonts";
@import "Blocks/header";
@import "Blocks/title";
@import "Blocks/hrs";
@import "Blocks/buttons";
@import "Blocks/about";
@import "Blocks/skills";
@import "Blocks/portfolio";
@import "Blocks/contacts";
@import "Blocks/navigation";

* {
    font-family: Oswald;
    padding: 0;
    margin: 0;
}

body {
    background-color: $back-color;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
    height: 100%;
    padding:0px 8px;
    &_pt150 {
        padding-top: 150px;
    }
    &_pt100 {
        padding-top: 100px;
    }
}