@import "Basse/mixins";
@import "Basse/variables";
@import "Basse/animations";
@import "libs/bootstrap-reboot.min";
@import "libs/fonts-icons";
@import "libs/fonts";
@import "Blocks/header";
@import "Blocks/title";
@import "Blocks/hrs";
@import "Blocks/about";
@import "Blocks/skills";
@import "Blocks/portfolio";
@import "Blocks/contacts";
@import "Blocks/navigation";
@import "Blocks/preloader";

* {
    font-family: Oswald;
    padding: 0;
    margin: 0;
}

body {
    background-color: $back-color;
}

.container {
    position: relative;
    max-width: 1140px;
    min-width: 1140px;
    margin: 0 auto;
    padding:0px 8px;
    &_C-head {
        padding-top: 150px;
        height: 100%;
    }
    &_pt150 {
        padding-top: 150px;
    }
    &_pt100 {
        padding-top: 100px;
    }
}

@media (max-width:1140px) {
    .container {
        max-width: 1140px;
        min-width: 320px;
    }
}

@media (max-width:768px) {
    .container {
        &_pt150 {
            padding-top: 100px;
        }
        &_pt100 {

        }
    }
}
@media (max-width:480px) {
    .container {
        &.pt50-480 {
            padding-top: 50px;
        }
    }
}

