.button-text {
    transition: 0.3s all;
    &:hover {
        font-size: 34px;
        transform: scale(1.2);
        .hrs__horizontal {
            transition: 0.8s all 0.2s;
            width: 100%;
        }
        .hrs__vertical {
            transition: 1s all;
            height: 70%;
        }
    }
    &:active {
        transition: 0s all;
        color: $main-color;
    }
}
