.header {
    position: relative;
    height: 100vh;
    background: url('../img/BackFirst.png') center (center/cover) no-repeat;
    overflow: hidden;
    &__social-panel {
        position: fixed;
        display: flex;
        transform: rotate(-90deg);
        min-width: 400px;
        justify-content: space-between;
        height: 30px;
        bottom: 40%;
        right: -250px;
        color: $white;
        font-size: 30px;       
        z-index: 10;
        animation: social 1s 2s ease-in-out forwards;
        &__text {
            text-transform: uppercase;
            font-size: 21px;

        }
        hr {
            margin: auto 0;           
            opacity: 1;
            background-color: $white;
            width: 50px;
            height: 1px;
        }
        a {
            color: $white;
            text-decoration: none;
            transform: rotate(90deg);
            transition: 0.3s all;
            cursor: pointer;
            &:hover {
                transform: scale(1.5) rotate(90deg);
            }
            &:active {
                transition: 0s all;
                color: $main-color;
            }
        }  
    }
    
    &__background {
        height: 100%;
        width: 60%;
        background-color:rgba(23, 23, 23, 0.7);
        .container {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__menu {
        width: 275px;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 100px 0px 0px 100px;
        a {
            text-decoration: none;
            color: $white;
            @include circle30;
        }
    }
    &__hamb {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 50px;
        right: 50px;
        width: 30px;
        height: 17px;
        cursor: pointer;
        &:hover {
            hr {
                background-color: $main-color;
            }
            .hr2 {
                margin-left: 0%;
            }
        }
        &:active {
            hr {
                transition: 0s all;
                background-color: $white;
            }     
        }
        hr {
            transition: 0.2s all;
            margin: 0px;
            opacity: 1;
            width: 30px;
            height: 2px;
            background-color: $white;        
        }
        .hr2 {
            width: 25px;
            margin-left: 18%;
        }
    }
}