.skills {
    position: relative;
    min-height: 900px;
    background-color: $light-color;
    text-align: center;
    padding-bottom: 80px;
    p.secondStroke {
        padding-left: 180px;
    }
    &__arow {
        display: none;
    }
    &__tools {
        margin: 0 auto;
        margin-top: 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        height: 55px;
        svg {
            @include svgNotActive;
            &:hover {
                @include svgActive;
            }
        }
    }
    &__grid {
        width: 100%;
        margin-top: 120px;
        display: grid;
        grid-template-columns:1fr 1fr;
        gap: 150px 50px;
        text-align: left;
        text-indent: 20px;
    }
    &__item-content {
        display: flex;
        border-left: 1px solid $main-color;
        margin: -8px 0px 0px 32px;
        padding:30px 0px;
        img {
            width: 135px;
            height: 135px; 
        }
        .pl20 {
            transition: 0.5s all;
            padding-left: 20px;
        }
    }
    &__blackout {
        visibility: hidden;
        opacity: 0;
        top: 0px;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(23, 23, 23, 0.8);
        z-index: 12;
        transition: 0.5s all;
        &.blackout-active {
            visibility: visible;
            opacity: 1;
        }
    }
    &__item {
        &:first-child {
           .skills__item-descr {
                padding-left: 0px;
           }
        }
    }
    &__item-descr {
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
        color: $white;
        padding: 0px 20px;
        text-align: justify;
        .second-tools {
            margin-top: 25px;
            display: flex;
            justify-content: space-between;
            margin-bottom: -25px;
            img, svg {
                height: 70px;
                width: auto;
                transition: 0.3s all;
                &:hover {
                    transform: scale(1.2);
                }
            }
            svg {
                margin-left: -95px;
                transform: scale(0.5);
                &:hover {
                    transform: scale(0.7);
                }
            }
        }
        
        &.skills-active {
            animation: skills-text 1s 0s;
        }
        .secondlink {
            display: none;
            font-size: 25px;
            color: $main-color;
            &:hover {
                transition: 0.2s color;
                color: $white;
            }
            &:active {
                transition: 0s color;
                color: $main-color;
            }  
        }
        .firstlink {
            &:hover {
                transition: 0.2s color;
                color: $main-color;
            }
            &:active {
                transition: 0s color;
                color: $white;
            }  
        }
        &.skills-active2 {
            position: relative;
            animation: skills-text 1s 0s;
            z-index: 13;
            .skills-second {
                font-size: 25px;
            }
        }
        .skills-second {
            z-index: 13;
            display: none;
        }
        .skills-more {
            transition: 0.3s 0.7s opacity;        
            color: $white;
            cursor: pointer;
        }     
    }
}

@media (max-width:1180px) {
    .skills {  
        &__grid {
            column-gap: 0px;
        }
        &__item-descr {
            padding: 0px 20px 0px 13px;
        }       
    }
}
@media  (max-width:480px),(min-width:601px) and (max-width:950px) {
    .skills {  
        &__grid {
            gap: 100px 0px;
            .skills__item-content {
                &:nth-child(1) {
                    padding-top: 10px;
                    background-color: red;
                    padding: 0px 20px;
                }
            }
        }
        &__item {
            &:nth-child(-n+2) {
                .skills__item-content {
                    .skills__item-descr {
                        padding-top: 10px;
                    }
                }
            }
            &:first-child {
                .skills__item-descr {
                    padding-left: 13px;
                }
             }
        }
        &__item-content {
            flex-direction: column;
            justify-content: space-between;              
        }
    }
}
@media (max-width:768px) {
    .skills {  
        &__wraper {
            margin-top: 150px;
            position: relative;
            overflow: hidden;
            &-overflow {
                overflow: hidden;
                margin: 0 auto;
                width: 84%;
            }
        }
        &__arow {
            position: absolute;
            display: block;
            top:50%;
            transform: translateY(-50%);
            z-index: 11;
            border: none;
            background-color: unset;
            svg {
                path {
                    fill: $white;
                }
            }
            &_left {
                left: 0px;
                animation: ArowLeft 0.5s;
            }
            &_right {
                right: 0px;
                transform: translateY(-50%) scale(-1, 1);
                animation: ArowRight 0.5s;
            }
        }
        &__tools {
            width: auto;
            margin: 0;
            justify-content: flex-start;
            .skills_tools-item {
                flex-shrink: 0;
                svg {

                    transition: 1s all;
                    &:hover {
                        @include svgNotActive;
                    }
                    &:active {
                        @include svgActive;
                    }
                }
            }
            
        }
        &__grid {
            margin-top: 75px;
        }
        &__item-descr {
            .second-tools {
                img, svg {
                    &:hover {
                        transform: scale(1);
                    }
                    &:active {
                        transition: 0s all;
                        transform: scale(1.2);
                    }
                }
                svg {
                    &:hover {
                        transform: scale(0.5);
                    }
                }
            }
            &.skills-active2 {
                .skills-second {
                    font-size: 22px;
                }
            }
            .secondlink {
                transition: 0.2s all;
                &:hover {
                    transition: 0s color;
                    color: #cc4900
                }
                &:active {
                    transition: 0s color;
                    color: #e0e0e0
                }
            }
            .firstlink {
                transition: 0.2s color;
                &:hover {
                transition: 0s color;
                color: #e0e0e0
                }
                &:active {
                    transition: 0s color;
                    color: #cc4900
                }
            }
        }
    }
}


@media (max-width:600px) {
    .skills {  
        p.secondStroke {
            padding-left: 80px;
        }
        &__grid {
            row-gap: 40px;
        }
        &__item {
            grid-column: 1/3;
            &:nth-child(4) {
                .skills__item-content {
                    .pl20 {
                        margin-left: -16px;
                        margin-right: 7px;
                    }
                }
            }
            &:nth-child(2) {
                .skills__item-content {
                    .pl20 {
                        margin-right: 20px;
                    }
                }
            }
        }
        &__item-content {
            .pl20,.pl20HTML {
                margin-left: -10px;
            }
            
        }
    }
}
@media (max-width:600px) {
    .skills {  
        &__wraper {
            margin-top: 100px;
        }
    }
}

@media (max-width:480px) {
    .skills {
        // &__wraper {
        //     &-overflow {
        //         width: 86%;
        //     }
        // }
        
        &__item {
            &:last-child {
                .skills__item-content {
                    padding-top: 0px;
                    .pl20 {
                        margin: 0 0 -13px 0;
                    }
                }
            }
        }
    }
}

@media (max-width:390px) {
    .skills {
        &__tools {
            height: 40px;
            svg {
                height: 40px;
            }
        }
        p.secondStroke {
            padding-left: 0px;
        }
    }
}
