.title {
    position: relative;
    width: 500px;
    font-size: 42px;
    font-weight: 300;
    line-height: 56px;
    color: $white;
    z-index: 2;
    &__title {
        @include circle50;
    }
    &_name {
        padding-left: 86px;
    }

    &__menu {
        position: relative;
        width: 100%;
        font-size: 25px;
        font-weight: 200;
        line-height: 56px;
        text-transform: uppercase;
        @include circle30;
    }
    
    &__subtitle {
        
    }
    
}