.title {
    position: relative;
    font-size: 48px;
    font-weight: 300;
    line-height: 56px;
    color: $white;
    z-index: 2;
    &__title {
        @include circle50;
    }
    &__center {
        @include circle50-2;
        .secondStroke {
            display: inline;
            padding-left: 224px;
        }
    }   
    &_name {
        padding-left: 86px;
    }

    &__menu {
        position: relative;
        width: 100%;
        font-size: 25px;
        font-weight: 200;
        line-height: 56px;
        text-transform: uppercase;
        @include circle30;
    }
    &__subtitle {
        font-size: 36px;
        font-weight: 300;
        @include circle40;
        img {
            margin-left: 15px;
        }
        .svg { 
            width: 32px;
            height: 32px;
        }
        &_bold {
            font-weight: 700;
            text-transform: uppercase;
            padding-left: 2px;
        }

    }
    &__head {
        font-size: 20px;
        font-weight: 300;
        @include circle20;
    }
    
}