//headanimate
@keyframes MainHead {
    from {
        background: url('../img/BackFirst2.png') left (bottom/cover)no-repeat;
    }
    50% {
        background: url('../img/BackFirst2.png') center (center/cover) no-repeat;
    }
    to {
        background: url('../img/BackFirst2.png') left (bottom/cover)no-repeat;
    }
}
//headanimate

//LAYER1 LINES
@keyframes VertPt150 {
    from {
        height: 0%;
    }
    
    to {
        height: calc(100% - 154px);
    }
}


@keyframes HorPt150 {
    from {
        width: 0%;
    }
    
    to {
        width: calc(100% - 640px);
    }
}
@keyframes HorPt150-w430 {
    from {
        width: 0%;
    }
    to {
        width: 290px;
    }
}
@keyframes HorPt150-w768 {
    from {
        width: 0%;
    }
    to {
        width: 400px;
    }
}
@keyframes HorPt150-w1140 {
    from {
        width: 0%;
    }
    to {
        width: 500px;
    }
}


@keyframes head {
    from {
        width: 0%;
    }
    
    to {
        width: 40%;
    }
}
@keyframes head-1270 {
    from {
        width: 0%;
    }
    
    to {
        width: 45%;
    }
}

@keyframes social-1270-back {
    from {
        
        right: -160px;
    }
    to {
        right: -201px;
    }
}
@keyframes social-600-back {
    from {
        
        right: -120px;
    }
    to {
        right: -170px;
    }
}
@keyframes social-400-back {
    from {
        
        right: -160px;
    }
    to {
        right: -212px;
    }
}

@keyframes social-1270 {
    from {
        right: -200px;
    }
    70% {
        right: -130px;
    }
    to {
        right: -160px;
    }
}
@keyframes social-600 {
    from {
        right: -170px;
    }
    70% {
        right: -100px;
    }
    to {
        right: -120px;
    }
}

@keyframes social {
    from {
        right: -250px;
    }
    70% {
        right: -70px;
    }
    to {
        right: -121px;
    }
}
//LAYER2 LINES

@keyframes VertAbout{
    from {
        height: 0px;
    }

    to {
        height: 220px;
    }
}
@keyframes VertAbout-768 {
    from {
        height: 0px;
    }

    to {
        height: 169px;
    }
}
@keyframes VertUnTitle {
    from {
        height: 0px;
    }

    to {
        height: 16px;
    }
}
@keyframes VertUnTitle-768 {
    from {
        height: 0px;
    }

    to {
        height: 30px;
    }
}
@keyframes VertAboutRight {
    from {
        height: 0%;
    }

    to {
        height: calc(100% - 119px);
    }
}
@keyframes VertAboutRight-768 {
    from {
        height: 0%;
    }

    to {
        height: calc(100% - 67px);
    }
}
@keyframes HorAbout{
    from {
        width: 0%;
    }

    to {
        width: calc(100% - 52px);
    }
}
@keyframes HorAbout-600 {
    from {
        width: 0%;
    }

    to {
        width: calc(100% - 41px);
    }
}
@keyframes HorAbout-1186 {
    from {
        width: 0%;
    }

    to {
        width: calc(100% - 75px);
    }
}

@keyframes HorAbout {
    from {
        width: 0%;
    }

    to {
        width: calc(100% - 52px);
    }
}
//Hamburger
@keyframes Hlines {
    from {
    }
    50% {
        transform: translateX(50px);
    }
    to {
        transform: translateX(0px);
    }
}
//ARROW SLIDER 

@keyframes AOpacity {
    from {  
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

//SkillsText
@keyframes skills-text {
    from {  
        transform: perspective(500px) rotateY(0deg);
        
    }
    50% {
        transform: perspective(500px) rotateY(90deg);
    }
    to {
        transform: perspective(500px) rotateY(0deg);
    }
}

