//LAYER1 LINES
@keyframes VertPt150 {
    from {
        height: 0%;
    }
    
    to {
        height: calc(100% - 155px);
    }
}

@keyframes HorPt150 {
    from {
        width: 0%;
    }
    
    to {
        width: calc(100% - 640px);
    }
}

@keyframes head {
    from {
        width: 0%;
    }
    
    to {
        width: 40%;
    }
}
@keyframes social {
    from {
        right: -250px;
    }
    70% {
        right: -70px;
    }
    to {
        right: -133px;
    }
}

//LAYER2 LINES

@keyframes VertAbout{
    from {
        height: 0%;
    }

    to {
        height: calc(28% - 190px);
    }
}
@keyframes VertUnTitle {
    from {
        height: 0px;
    }

    to {
        height: 16px;
    }
}
@keyframes VertAboutRight {
    from {
        height: 0%;
    }

    to {
        height: calc(100% - 119px);
    }
}
@keyframes HorAbout{
    from {
        width: 0%;
    }

    to {
        width: calc(100% - 52px);
    }
}
@keyframes HorAbout {
    from {
        width: 0%;
    }

    to {
        width: calc(100% - 52px);
    }
}
//Hamburger
@keyframes Hlines {
    from {
    }
    50% {
        transform: translateX(50px);
    }
    to {
        transform: translateX(0px);
    }
}
//ARROW SLIDER 

@keyframes AOpacity {
    from {  
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
