//BEFORE CIRCLES

@mixin circle50 {
    &:before {
        content: '';
        position: absolute;
        left: -7.5px;
        top: 2.5px;
        height: 50px;
        width: 50px;
        background-color: $main-color;
        border-radius: 100%;
        z-index: -1;
    }
    
}
@mixin circle50-2 {
    &:before {
        content: '';
        position: absolute;
        left: -12px;
        top: 11.5px;
        height: 50px;
        width: 50px;
        background-color: $main-color;
        border-radius: 100%;
        z-index: -1;
    }
    
}
@mixin circle40 {
    &:before {
        content: '';
        position: absolute;
        left: -7px;
        top: 9px;
        height: 40px;
        width: 40px;
        background-color: $main-color;
        border-radius: 100%;
        z-index: -1;
    }
    
}
@mixin circle30 {
    &:before {
        content: '';
        position: absolute;
        left: -8px;
        top: 14px;
        height: 30px;
        width: 30px;
        background-color: $main-color;
        border-radius: 100%;
        z-index: -1;
    } 
}
@mixin circle20 {
    &:before {
        content: '';
        position: absolute;
        left: -6px;
        top: 6px;
        height: 20px;
        width: 20px;
        background-color: $main-color;
        border-radius: 100%;
        z-index: -1;
    }
}
@mixin close {
    position: absolute;
    top: 30px;
    right: 35px;
    width: 23px;
    height: 23px;
    cursor: pointer;
    &:hover {              
        .left {
            transform: rotate(45deg) scale(1.5);
        }
        .right {
            transform: rotate(-45deg) scale(1.5);
        }
    }
    &:active {
        .left {
            background-color: $back-color;
            transition: 0s all;
            transform: rotate(45deg) scale(1);
        }
        .right {
            background-color: $back-color;
            transition: 0s all;
            transform: rotate(-45deg) scale(1);
        }
    }
    hr {
        position: absolute;
        background-color: $white;
        margin: 0px;
        opacity: 1;
        width: 2px;
        height: 30px;
        top: -4px;
        left: 10px;
        transition: 0.1s all;
    }
    .left {
        transform: rotate(45deg);
    }
    .right {
        transform: rotate(-45deg);
    }
}
